{% extends 'accounts/acc_base.html' %}
{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Do you want to delete {{customer}} ?</p>
            <form action="{% url 'DeleteCustomer' customer.id %}" method="POST">
                {% csrf_token %}
                <a href="{% url 'home' %}" class="btn btn-sm btn-warning">Cancel</a>
                <input type="submit" class="btn btn-sm btn-danger" name="Confirm" value="Delete">
            </form>
        </div>
    </div>
</div>

{% endblock %}