{% extends 'accounts/acc_base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% include 'accounts/stats.html' %}

<br>

<!-- Modal for new orders -->
<div class="modal fade" id="AddOrderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new order</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form action="" method="POST" autocomplete="off">
              {% csrf_token %}
              {{form|crispy}}
              <button type="submit" class="btn btn-primary">Save</button>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="row">
 <div class="col-md-5">
  <h5>CUSTOMERS:</h5>
  <hr>
  <div class="card card-body">
      <a class="btn btn-primary  btn-sm btn-block" href="{% url 'AddCustomer' %}">Add customer</a>
   <table class="table table-sm">
    <tr>
     <th></th>
     <th>Customer</th>
     <th>Phone number</th>
    </tr>
    {% for customer in customers %}
    <tr>
     <td> <a href="{% url 'customer' customer.id %}" class="btn btn-sm btn-info">View</a> </td>
      <td>{{customer.name}}</td>
      <td>{{customer.phone}}</td>
    </tr>
    {% endfor %}
   </table>
  </div>
 </div>

 <div class="col-md-7">
  <h5>LAST 5 ORDERS</h5>
  <hr>
  <div class="card card-body">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddOrderModal"> Add order </button>
   <table class="table table-sm">
    <tr>
     <th>Product</th>
     <th>Date Ordered</th>
     <th>Status</th>
     <th>Update</th>
     <th>Remove</th>
    </tr>
    {% for order in orders %}
    <tr>
     <td>{{order.product}}</td>
     <td>{{order.Date_created}}</td>
     <td>{{order.status}}</td>
     <td><a href="{% url 'UpdateOrder' order.id %}" class="btn btn-sm btn-info">Update</a></td>
     <td><a href="{% url 'DeleteOrder' order.id %}" class="btn btn-sm btn-danger">Delete</a></td>
    </tr>
    {% endfor %}

   </table>
  </div>
 </div>

</div>

{% endblock %}