{% extends 'accounts/acc_base.html' %}

{% block content %}

<br>
<div class="row">
    <div class="col col-md-12">
        <div class="card card-body">
            <p>Please enter your new password twice to confirm !</p><br>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col col-md-12">
        <div class="card card-body">
            <form method="post">
                {% csrf_token %}
                {{form}}
                <input type="submit" name="update_password">
            </form>
        </div>
    </div>
</div>

{% endblock %}